@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary-DEFAULT: #D32F2F;
    --color-primary-50: #FFEBEE;
    --color-primary-100: #FFCDD2;
    --color-primary-200: #EF9A9A;
    --color-primary-300: #E57373;
    --color-primary-400: #EF5350;
    --color-primary-500: #F44336;
    --color-primary-600: #E53935;
    --color-primary-700: #D32F2F;
    --color-primary-800: #C62828;
    --color-primary-900: #B71C1C;

    --color-neutral-50: #F9FAFB;
    --color-neutral-100: #F3F4F6;
    --color-neutral-200: #E5E7EB;
    --color-neutral-300: #D1D5DB;
    --color-neutral-400: #9CA3AF;
    --color-neutral-500: #6B7280;
    --color-neutral-600: #4B5563;
    --color-neutral-700: #374151;
    --color-neutral-800: #1F2937;
    --color-neutral-900: #111827;
}